.jctx {
    display: none;
    z-index: 1000;
    position: absolute;
    min-width: 140px;
    overflow: visible;
    border: 1px solid rgba(89, 89, 89, 0.521);
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 12px;
    border-radius: 2px;
    padding: 0;
	transition:opacity 200ms;
}

.jctx-black {
    background: black;
    color: white;
}

.jctx-white {
    background: white;
    color: black;
}

.jctx-white-shadow {
	box-shadow: 0 0 15px grey;
}

.jctx-black-shadow {
	box-shadow: 0 0 15px black;
}

.jctx li {
    padding: 5px 8px;
    cursor: pointer;
}

.jctx li.disabled {
    color: darkgrey;
	cursor: default;
}

.jctx-black li:hover {
    background-color: #284160;
}

.jctx-white li:hover {
    background-color: #81B2D6;
}

.jctx-black li.disabled:hover {
    background-color: #202020;
}

.jctx-white li.disabled:hover {
    background-color: lightgrey;
}

.jctx i {
    padding-right: 6px
}

.jctx hr {
    background-color: grey;
    height: 1px;
    border: 0;
    margin: 2px 0px;
}

/* Estilos para los elementos del submenú */
.submenu-body {
    position: relative;
}


.submenu-items {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background: #f0f0f0; /* Fondo gris claro */
    border: 1px solid #666; /* Borde gris oscuro */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
    z-index: 1001;
    padding: 0;
    transition: 0.3s all;
}
.submenu-body:hover .submenu-items{
    display: block;
}
.submenu-items li {
    padding: 5px 8px;
    cursor: pointer;
    border-bottom: 1px solid #bbb; /* Borde inferior gris claro */
    color: #333; /* Color de texto gris oscuro */
    text-decoration: none;
    display: block;
}

.submenu-items li.disabled {
    color: #aaa; /* Color de texto gris más claro para elementos deshabilitados */
    cursor: not-allowed;
}

.submenu-items li:hover {
    background-color: #0078d4; /* Color de resaltado en el hover (azul de Windows) */
    color: white; /* Texto en color blanco en el hover */
}

/* Eliminar el borde inferior del último elemento del submenú */
.submenu-items li:last-child {
    border-bottom: none;
}

/* Estilos para los enlaces del menú y submenú */
.jctx a, .submenu a {
    color: inherit; /* El color de texto hereda el color del texto del menú */
    text-decoration: none;
}

.jctx a:hover, .submenu a:hover {
    color: inherit; /* El color de texto hereda el color del texto del menú en el hover */
}

/* .jctx .sub-left{
    left: 0;
} */